# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


    ../../../../../-1.14-windows.xml
        ../../../../../.angular-config.json
        ../../../../../.dbclient/
        ../../../../../.dbus-keyrings/
        ../../../../../.gitconfig
        ../../../../../.quokka/
        ../../../../../.vscode/
        ../../../../../AppData/
        ../../../../../Contacts/
        ../../../../../Documents/
        ../../../../../Downloads/
        ../../../../../Favorites/
        ../../../../../Links/
        ../../../../../Music/
        ../../../../../NTUSER.DAT
        ../../../../../NTUSER.DAT{f9436962-25b3-11ee-8847-e28a79720b31}.TM.blf
        ../../../../../NTUSER.DAT{f9436962-25b3-11ee-8847-e28a79720b31}.TMContainer00000000000000000001.regtrans-ms
        ../../../../../NTUSER.DAT{f9436962-25b3-11ee-8847-e28a79720b31}.TMContainer00000000000000000002.regtrans-ms
        ../../../../.849C9593-D756-4E56-8D6E-42412F2A707B
        ../../../../desktop.ini
        "../../../../\320\224\320\276\320\272\321\203\320\274\320\265\320\275\321\202\320\270/"
        "../../../../\320\227\320\276\320\261\321\200\320\260\320\266\320\265\320\275\320\275\321\217/"
        "../../../../\320\235\320\260\321\207\320\260\320\273\320\276 \321\200\320\260\320\261\320\276\321\202\321\213 \321\201 OneDrive.pdf"
        ../../../09-000000-20231209-400-EUR-PylypenkoVasyl.docx
        ../../../09-000000-20231209-400-EUR-PylypenkoVasyl.pdf
        ../../../1636647907884.jpg
        ../../../Age of Empires IV Anniversary Edition.url
        ../../../Angular/
        ../../../Baldur's Gate 3.url
        ../../../BlueStacks-Support.7z
        ../../../CV_Pylypenko_Vasyl_Junior_FrontEnd.pdf
        ../../../Counter-Strike Global Offensive.url
        ../../../Cyberpunk 2077.url
        ../../../DOOM Eternal.url
        ../../../Darksiders Genesis.url
        ../../../Discord.lnk
        ../../../DragonheirSilentGods.lnk
        ../../../Game Center.lnk
        ../../../Hearts of Iron IV.url
        ../../../Inkscape.lnk
        ../../../KMSprog/
        ../../../LOTRRisetoWar.lnk
        ../../../Lineage.txt
        ../../../Lords Of The Fallen.url
        ../../../Marvel's Avengers - The Definitive Edition.url
        ../../../Metro Exodus Enhanced Edition.url
        ../../../MongoDBCompass.lnk
        ../../../My own Web site (Resume).pdf
        ../../../Node/
        ../../../Paradox Launcher v2.lnk
        ../../../Postman.lnk
        ../../Dashboard/
        ../booking_services_BE/
        ../src/
        ../../../Red Dead Redemption 2.url
        "../../../STAR WARS Jedi Fallen Order\342\204\242.url"
        ../../../Telegram.lnk
        ../../../Tom Clancy's The Division 2.url
        ../../../Ubisoft Connect.lnk
        ../../../Visual Studio Code.lnk
        ../../../WarThunder.lnk
        ../../../WatcherofRealms.lnk
        ../../../World of Tanks EU.lnk
        ../../../desktop.ini
        ../../../info.txt
        ../../../invoice/
        ../../../uTorrent Web.lnk
        ../../../video/
        "../../../\320\222\321\226\320\264\321\214\320\274\320\260\320\272\302\256 3 \320\224\320\270\320\272\320\270\320\271 \320\263\321\226\320\275.url"
        "../../../\320\246\320\265\320\271 \320\237\320\232.lnk"
        "../../../../\320\241\321\205\320\276\320\262\320\270\321\211\320\265.lnk"
        ../../../../../Saved Games/
        ../../../../../Searches/
        ../../../../../Videos/
        ../../../../../ntuser.dat.LOG1
        ../../../../../ntuser.dat.LOG2
        ../../../../../ntuser.ini