@font-face {
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: normal;
    src: url("SairaStencilOne-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Saira";
    font-style: normal;
    font-weight: bold;
    src: url("Saira-VariableFont_wdth,wght.ttf") format("opentype");
}

@font-face {
    font-family: "Saira";
    font-style: normal;
    font-weight: normal;
    src: url("Saira-VariableFont_wdth,wght.ttf") format("opentype");
}
