$text-color: #ffffff;
$text-color-bg: #e8e8e8;
$text-color-form: #717171;
$text-color-dev: #cbcaca;
$text-color-dark: #000000;

$bg-color: #696969;
$border-color: #c4c4c4;

$form-error-color: #ff0000;
$available: #6fcf97;
$busy: #f2994a;
$unavailable: #eb5757;

$common-transition: all 0.5s;
