@import "../../styles/var.scss";

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 20px 20px 0;
    margin-left: 15px;
    border-bottom: 1px solid $border-color;

    .form-group {
        display: flex;
        flex-direction: column;
        position: relative;

        input,
        select,
        textarea {
            border: $text-color-bg;
            padding: 5px;
            resize: vertical;
            border-radius: 5px;
            background-color: $text-color-bg;

            &:focus-visible {
                outline-offset: none;
            }
        }

        .error {
            color: $form-error-color;
            font-size: 14px;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }

    .form-group:nth-last-child(2) {
        grid-column: span 2;
    }

    .actions {
        grid-column: span 2;
        flex-direction: row;

        button {
            background-color: $bg-color;
            color: $text-color;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            transition: $common-transition;

            &:hover {
                background-color: $available;
            }

            &:last-child {
                margin-left: 10px;

                &:hover {
                    background-color: $busy;
                }
            }
        }
    }
}
